<!DOCTYPE html>
<html>

<% include head.ejs%>

<script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<link rel="stylesheet" type="text/css" href="/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<link href="/css/blurMenu.css" rel="stylesheet">
<link href="/css/picSize.css" rel="stylesheet">

<body>
<% include navigationBar.ejs%>

    <!-- begin:heading -->
    <div class="heads" style="background: url(/images/titleBackground1.jpg) center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span><%=title%></span></h2>
                </div>
            </div>
        </div>
    </div>

    <div>
        <%if (title!='Outlet'){%>
            <ul class="BlurMenu">
               <% brands.forEach(function(brand){ %>
                <li><a href='/<%=category%>/brand/<%=brand.name%>'><%= brand.name %></a></li>
                <% })%>
            </ul>
        <%} else {%>


        <%}%>

    </div>

    <div>
        <div id="catalogue">
            <div class="row">
                <div class="col-md-12">
                    <% products.forEach(function(product){ %>
                    <li class="col-md-3 col-sm-3">
                        <div class="img-thumbnail">
                            <a class="fancybox" href="/<%=product.imgPath1%>" data-fancybox-group="<%=product.category%>">
                                <img src="/<%=product.imgPath1%>" height="170px" alt="" />
                            </a>
                            <div class="caption-details">
                                <h4><a href="detail.html"><%=product.model%></a></h4>
                                <h5><a href="detail.html"><%=product.brand%></a></h5>
                                <p>
                                <div class="btn-group">
                                    <p class="btn btn-default">$ <%=product.price%></p>
                                    <a href='/product/detail/<%=product.id%>'class="btn btn-primary"><i class="fa fa-shopping-cart"></i>comprar</a>
                                </div>
                                </p>
                            </div>
                            </div><x></x>
                    </li>
                    <% }) %>
                    </ul>

                    <ul class="pagination">
                        <li class="disabled"><a href="#">Page 1 of 2</a></li>
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- end:product -->
    </div>

</body>
<%include footer.ejs%>
</html>