<!DOCTYPE html>
<html>

<% include head.ejs%>
<link href="/css/blurMenu.css" rel="stylesheet">

<body>
    <% include navigationBar.ejs%>

    <!-- begin:heading -->
    <div class="heads" style="background: url(/images/titleBackground4.jpg) center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span><%=title%></span></h2>
                </div>
            </div>
        </div>
    </div>

    <div>
        <%if (title!='Outlet'){%>
        <ul class="BlurMenu">
            <% brands.forEach(function(brand){ %>
            <li><a href='/<%=title%>/brand/<%=brand.name%>'><%= brand.name %> </a></li>
            <% })%>
        </ul>
        <%} else {%>

        <%}%>
    </div>


    <div>

        <div id="catalogue">
            <div class="row">
                <div class="col-sm-9" >
                    <% subCategories.forEach(function(subCategory){ %>
                    <li class="col-md-3 col-sm-3">
                        <div class="img-thumbnail">
                            <a>
                                <img src="<%=subCategory.ImgPath%>" height="200px" width="200px" alt="" />
                            </a>
                            <div class="caption-details">
                                <p>
                                <div class="btn-group">
                                    <a href='/<%=title%>/<%=subCategory.name%>'class="btn btn-primary"><i class="fa"></i> <%=subCategory.name%></a>
                                </div>
                                </p>
                            </div>
                        </div><x></x>
                    </li>
                    <% }) %>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-3">
                    <div class="row sidebar">
                        <div class="col-md-12">
                            <h3>Productos</h3>
                            <ul class="nav nav-pills nav-stacked">
                                <% subCategories.forEach(function(subCategory){ %>
                                <li><a href='/<%=title%>/<%=subCategory.name%>' style="text-align: left" > <%=subCategory.name%> </a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>




            </div>
        </div>






    </div>




</body>
<%include footer.ejs%>
</html>